
.main {
	background-image: url(pic/homeBG.png);
	width: 320;
	height: 480;
}


/*------------banner and buttons for homepage and choose level page------------*/
div#bannerPosition
{
	
	position: absolute;
	top: 10%;
}

img.bannerNButtons {
	display: block;
	margin-left:auto;
	margin-right:auto;
}





