.main {
	background-image: url(pic/passbg.png);
	width: 320;
	height: 480;
}

.score {
	height: 80px;
	width: 300px;
	padding-left: 5%;
	padding-top: 70%;
	font-size:15px;
	text-align: center;
	font-weight: 800;
	color: #000;
}