.main {
	background-image: url(pic/arbg.png);
	width: 320px;
	height: 480px;
}

.first {
	padding-top: 46%;
	padding-left: 4%;
	text-align: center;
}

.second {
	padding-top:3%;
	padding-left: 3%;
	text-align: center;
}

#homeButton {
	padding-top:10%;
	text-align: center;
}